<template>
	<v-app-bar
		:clipped-left="true"
		:flat="true"
		fixed
		app
		height="80"
	>
		<slot name="logo">
			<img
				src="/images/그룹 1308.png"
				height="60"
				width="60"
			>
			<span style="font-weight: 500;font-size: 30px;">OKXE</span>
			<span style="font-weight: 300;font-size: 14px;color: #aaaaaa;">Admin</span>
		</slot>

		<v-spacer />
		<slot name="right-items">
			<div>Nice to meet you!</div>
		</slot>
	</v-app-bar>
</template>

<script>
export default {
	data() {
		return {}
	}
}
</script>
