<template>
	<v-navigation-drawer
		v-model="drawer"
		:clipped="true"
		fixed
		app
		:color="color"
		dark
		:permanent="true"
	>
		<v-list>
			<v-list-item
				v-for="(item, i) in items"
				:key="i"
				nuxt
				:to="item.to"
				router
				exact
			>
				<v-list-item-content>
					<v-list-item-title v-text="item.title" />
				</v-list-item-content>
			</v-list-item>
		</v-list>
	</v-navigation-drawer>
</template>

<script>
export default {
	data() {
		return {
			drawer: true,
			color: 'black',
			items: [
				{
					title: 'Dashboard',
					to: '/'
				},
				{
					title: 'Checklist',
					to: '/checklist'
				},
				{
					title: 'Data',
					to: 'data'
				}
			]
		}
	}
}
</script>
