.login-page
	&__container
		width: 330px
		text-align: center

	&__hint
		margin-top: 10px
		font-weight: 300
		font-size: 10px
		text-align: left

.app-bar
	height: 80px

	&__logo
		width: 190px
		display: flex
		align-items: center
		justify-content: space-between

	&__right-container
		width: 240px
		display: flex
		align-items: center
		justify-content: space-between

.slide-fade-enter-active
	transition: all .3s ease

.slide-fade-leave-active
	transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-fade-enter, .slide-fade-leave-to
	transform: translateX(10px)
	opacity: 0
