<template>
	<v-app>
		<sidebar />
		<app-bar>
			<template #logo>
				<div class="app-bar__logo">
					<img
						src="/images/그룹 1308.png"
						height="60"
						width="60"
					>
					<span style="font-weight: 500;font-size: 30px;">OKXE</span>
					<span style="font-weight: 300;font-size: 14px;color: #aaaaaa;">Admin</span>
				</div>
			</template>
			<template #right-items>
				<div class="app-bar__right-container">
					<span style="color:#aaaaaa">trangvu@okxe.com</span>
					<span style="color:#aaaaaa">|</span>
					<v-btn
						text
						small
						color="primary"
						@click="onClickLogout"
					>
						logout
					</v-btn>
				</div>
			</template>
		</app-bar>
		<v-content>
			<v-container>
				<transition name="slide-fade">
					<nuxt />
				</transition>
			</v-container>
		</v-content>
	</v-app>
</template>

<script>
import AppBar from '~/components/shared/AppBar'
import Sidebar from '~/components/shared/Sidebar'

export default {
	components: {
		AppBar,
		Sidebar
	},
	middleware: 'auth',
	data() {
		return {}
	},
	methods: {
		onClickLogout() {
			this.$router.push('/login')
		}
	}
}
</script>
