<template>
	<v-layout>
		<v-flex>
			<v-card>
				<v-card-title class="headline">
					Checklist
				</v-card-title>
				<v-card-text>
					<h2>List of Features</h2>
					<v-row>
						<v-col>
							<h3>Plugins</h3>
							<v-list>
								<v-list-item
									v-for="(item, i) in plugins"
									:key="i"
									exact
								>
									<v-list-item-action>
										<div
											v-if="item.checked"
											style="border-radius:50%;height:10px;width:10px;background-color:#22e59f;"
										/>
										<div
											v-else
											style="border-radius:50%;height:10px;width:10px;background-color:#aaaaaa;"
										/>
									</v-list-item-action>
									<v-list-item-content>
										<v-list-item-title v-text="item.title" />
									</v-list-item-content>
								</v-list-item>
							</v-list>
						</v-col>
						<v-col>
							<h3>Templates</h3>
							<v-list>
								<v-list-item
									v-for="(item, i) in templates"
									:key="i"
									exact
								>
									<v-list-item-action>
										<div
											v-if="item.checked"
											style="border-radius:50%;height:10px;width:10px;background-color:#22e59f;"
										/>
										<div
											v-else
											style="border-radius:50%;height:10px;width:10px;background-color:#aaaaaa;"
										/>
									</v-list-item-action>
									<v-list-item-content>
										<v-list-item-title v-text="item.title" />
									</v-list-item-content>
								</v-list-item>
							</v-list>
						</v-col>
					</v-row>
				</v-card-text>
			</v-card>
		</v-flex>
	</v-layout>
</template>

<script>
export default {
	data() {
		return {
			settings: [],
			plugins: [
				{
					title: 'Axios',
					checked: true
				},
				{
					title: 'Vuetify',
					checked: true
				},
				{
					title: 'i18n',
					checked: true
				},
				{
					title: 'js-cookie',
					checked: true
				},
				{
					title: 'moment.js',
					checked: false
				},
				{
					title: 'eslint',
					checked: true
				}
			],
			templates: [
				{
					title: 'Button',
					checked: false
				},
				{
					title: 'Textfield',
					checked: false
				},
				{
					title: 'Card',
					checked: false
				},
				{
					title: 'Modal',
					checked: false
				},
				{
					title: 'List',
					checked: false
				},
				{
					title: 'Search Box',
					checked: false
				},
				{
					title: 'Progress Spinner',
					checked: false
				}
			]
		}
	}
}
</script>
