<template>
	<v-layout>
		<v-flex>
			<v-card>
				<v-card-title class="headline">
					User Data
				</v-card-title>
				<v-card-text>
					<v-row>
						<v-col>
							<v-list>
								<v-list-item
									v-for="(item, i) in data"
									:key="i"
									exact
								>
									<v-list-item-content>
										<v-list-item-title v-text="item.name" />
										{{ item.email }}
									</v-list-item-content>
								</v-list-item>
							</v-list>
						</v-col>
					</v-row>
				</v-card-text>
			</v-card>
		</v-flex>
	</v-layout>
</template>

<script>
export default {
	async asyncData({ $axios }) {
		const response = await $axios.$get(
			'https://jsonplaceholder.typicode.com/users'
		)
		return { data: response }
	},
	data() {
		return {}
	}
}
</script>
