<template>
	<v-layout
		column
		justify-center
		align-center
	>
		<v-flex
			xs12
			sm8
			md6
		>
			<v-card>
				<v-card-title class="headline">
					Welcome to the Admin OKXE
				</v-card-title>
				<v-card-text>
					<div
					style="
					width:1000px;
					height:700px;
					display:flex;
					justify-content: center;
					align-items: center;">
						<h1 style="font-size:70px;color:#00BCC3">
							{{ $t('welcome') }}
						</h1>
					</div>
				</v-card-text>
			</v-card>
		</v-flex>
	</v-layout>
</template>

<script>

export default {
	components: {
	}
}
</script>
