<template>
	<v-app>
		<app-bar>
			<template #logo>
				<v-toolbar-title>{{ title }}</v-toolbar-title>
			</template>
			<template #right-items>
				<div>Nice to meet you!</div>
			</template>
		</app-bar>
		<v-content>
			<v-container
				fluid
				style="background-color:white; height:100%"
			>
				<v-row
					align="center"
					justify="center"
					style="height:100%"
				>
					<div class="login-page__container">
						<img
							src="/images/그룹 1308@3x.png"
							height="164"
							width="164"
						>
						<v-text-field
							label="Username Anything"
							color
							class="login__username-input"
						/>
						<v-text-field
							label="Password Anything"
							color
							class="login__password-input"
							type="password"
						/>
						<v-btn
							block
							color="primary"
							tile
							dark
							x-large
							@click="onClickLogin"
						>
							Login
						</v-btn>
						<p class="login-page__hint">
							Hint: no password or anything else
						</p>
					</div>
				</v-row>
			</v-container>
		</v-content>
	</v-app>
</template>

<script>
import AppBar from '~/components/shared/AppBar'

export default {
	layout: 'Blank',
	components: {
		AppBar
	},
	data() {
		return {
			title: 'OKXE Admin'
		}
	},

	created() {},

	methods: {
		onClickLogin() {
			this.$axios
				.$get('https://jsonplaceholder.typicode.com/todos/1')
				.then(respone => {
					console.log(respone)
					this.$router.push('/')
				})
				.catch(err => {
					console.log(err)
				})
		}
	}
}
</script>
